# IntelliJ Project Files
*.iml
.idea

# IntelliJ Output
out/

# External Libraries
lib/

*.class

# Idea Project Files
*.iml
*.idea
.idea/

# Package Files #
*.jar
*.war
*.ear

*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath
