<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.MangoMapper">

	<resultMap id="UserMap" type="User">
		<result property="id" column="id" />
		<result property="username" column="username" />
		<result property="email" column="email" />
		<result property="phone" column="phone" />
		<result property="password" column="password" />
		<result property="admin" column="admin" />
		<result property="disabled" column="disabled" />
		<result property="receiveAlarmEmails" column="receiveAlarmEmails" />
		<result property="receiveOwnAuditEvents" column="receiveOwnAuditEvents" />
	</resultMap>

	<resultMap id="SensorMap" type="Sensor">
		<result property="id" column="id"/>
		<result property="data" column="data"/>
	</resultMap>
	
    <resultMap id="PrivilegeLevelMap" type="UserPriv">
        <result property="userId" column="userId" />
        <result property="level" column="level" />
    </resultMap>
    
    <resultMap id="PointValueMap" type="PointValue">
        <result property="dataPointId" column="datapointid" />
        <result property="pointValue" column="pointValue" />
        <result property="ts" column="ts" />
    </resultMap>

    <resultMap id="ManualDataMap" type="ManualData">
        <result property="id" column="id" />
        <result property="value" column="pointvalue" />
        <result property="typeId" column="manualdatatypeId" />
        <result property="userId" column="userId" />
        <result property="timeStamp" column="ts" />
    </resultMap>

    <resultMap id="ManualDataTypesMap" type="ManualDataType">
        <result property="name" column="name" />
        <result property="id" column="id" />
    </resultMap>

    <select id="selectLevel" parameterType="User" resultType="UserPriv">
        select * from userprivileges where userId=#{id}
    </select>

    <update id="updatePrivilege" parameterType="UserPriv">
        update userprivileges set level=#{level} where userId=#{id}
    </update>

	<select id="selectUsers" resultType="User">
		select * from users
	</select>

    <select id="insertUser" parameterType="User">
        insert into users values (6,#{username},#{password},'research@mango.com','','N','N', 0, 0,'',0,'N')
    </select>

    <select id="selectUser" parameterType="User" resultType="User">
        select * from users where username=#{username}
    </select>
	
	<delete id="deleteUser" parameterType="User">
		delete from users where id=#{id}
	</delete>

    <update id="updateUserPass" parameterType="User">
        update users set password=#{password} where id=#{id}
    </update>
	
	<insert id="createUser" parameterType="User">
		insert into users (username,email, phone,password,admin,disabled,receiveAlarmEmails,receiveOwnAuditEvents)
		values (#{username},#{email},#{phone},#{password},#{admin},#{disabled},#{receiveAlarmEmails},#{receiveOwnAuditEvents})
	</insert>

    <insert id="insertManualData" parameterType="ManualData">
        insert into manualdatapointvalues (manualdatapointid, userid, pointvalue, ts)
        values (#{typeId},#{userId},#{value},#{timeStamp})
    </insert>

    <select id="selectManualDataType" parameterType="ManualDataType" resultType="ManualDataType">
        select * from manualdatapoints where name=#{name}
    </select>

    <select id="selectManualDataTypes" resultType="String">
        select name from manualdatapoints
    </select>
	
	<select id="selectSensors" resultType="Sensor">
		select * from datapoints
	</select>
	
	<select id="selectSensor" parameterType="int" resultType="Sensor">
		select * from datapoints where id=#{id}
	</select>
	
	<select id="selectPointValues" parameterType="SensorValueSelect" resultType="PointValue">
		select * from pointvalues where dataPointId=#{id} and ts &lt; #{endTime} and ts &gt; #{startTime}
	</select>




    <!-- Report Templates -->

    <resultMap id="ReportTemplateMap" type="ReportTemplate">
        <result property="id" column="id"/>
        <result property="name" column="title"/>
        <result property="description" column="description"/>
    </resultMap>

    <resultMap id="ChartConfigurationMap" type="ChartConfiguration">
        <result property="id" column="id"/>
        <result property="reportTemplateId" column="reportTemplateId"/>
        <result property="name" column="title"/>
        <result property="xLabel" column="xAxis"/>
        <result property="yLabel" column="yAxis"/>
        <result property="chartType" column="type"/>

    </resultMap>



    <insert id="createReportTemplate" parameterType="ReportTemplate">
        insert into reportTemplates (name, description)
        values (#{name}, #{description})
    </insert>

    <!--<resultMap id="reportTemplateDataPointAssoc" type="ReportTemplateDataPointAssoc">-->
    <!--<result property="reportTemplateId" column="reportTemplateId"/>-->
    <!--<result property="dataPointId" column="dataPointId"/>-->
    <!--</resultMap>-->

    <insert id="createReportTemplateDataPointAssoc" parameterType="ReportTemplateDataPointAssoc">
        insert into reportTemplateDataPointAssoc (reportTemplateId, dataPointId)
        values (#{reportTemplateId}, #{dataPointId})
    </insert>

    <insert id="createReportTemplateManualDataPointAssoc" parameterType="ReportTemplateManualDataPointAssoc">
        insert into reportTemplateManualDataPointAssoc (reportTemplateId, manualDataPointId)
        values (#{reportTemplateId}, #{manualDataPointId})
    </insert>

    <select id="selectReportTemplates" resultType="ReportTemplate">
        select * from reportTemplates
    </select>





    <select id="getReportTemplateByName" parameterType="ReportTemplate" resultType="ReportTemplate">
        select * from reportTemplates where name=#{name}
    </select>





    <select id="getDataPointsForReportTemplate" parameterType="ReportTemplate" resultType="Sensor">
        select id, data from reporttemplatedatapointassoc join datapoints on datapoints.id=reporttemplatedatapointassoc.datapointid where reporttemplateid=#{id}
    </select>

    <select id="getManualDataPointsForReportTemplate" parameterType="ReportTemplate" resultType="ManualDataPoint">
      select id, name from reportTemplateManualDataPointAssoc join manualDataPoints on manualDataPoints.id=reportTemplateManualDataPointAssoc.manualDataPointId
    </select>






    <delete id="deleteAllreportTemplateManualDataPointAssoc">
        delete from reportTemplateManualDataPointAssoc
    </delete>
    <delete id="deleteAllReportTemplateDataPointAssoc">
        delete from reportTemplateDataPointAssoc
    </delete>
    <delete id="deleteAllReportTemplates">
        delete from reportTemplates
    </delete>


    <!-- Chart Configurations -->
    <insert id="insertChartConfiguration" parameterType="ChartConfiguration">
        insert into chartConfigurations (reportTemplateId, title, xAxis, yAxis, type)
        values (#{reportTemplateId}, #{name}, #{xLabel}, #{yLabel}, #{chartType})
    </insert>

    <select id="getSensorsForChartConfig" parameterType="java.lang.Integer" resultType="Sensor">
        select id, data from chartConfigurationDataPointAssoc join dataPoints on chartConfigurationDataPointAssoc.dataPointId = dataPoints.id where chartConfigurationId=#{id}
    </select>

    <select id="getChartConfigurationByReportTemplateId" parameterType="java.lang.Integer" resultMap="ChartConfigurationMap">
        select * from chartConfigurations where reportTemplateId=#{id}
    </select>

    <select id="getChartConfigurationByName" parameterType="java.lang.String" resultMap="ChartConfigurationMap">
        select * from chartConfigurations where title=#{title}
    </select>

    <insert id="insertChartConfigurationDataPointAssoc" parameterType="ChartConfigurationDataPointAssoc">
        insert into chartConfigurationDataPointAssoc (chartConfigurationId, dataPointId)
        values (#{chartConfigurationId}, #{dataPointId})
    </insert>

    <insert id="insertChartConfigurationManualDataPointAssoc" parameterType="ChartConfigurationManualDataPointAssoc">
        insert into chartConfigurationManualDataPointAssoc (chartConfigurationId, manualDataPointId)
        values (#{chartConfigurationId}, #{manualDataPointId})
    </insert>

    <select id="getManualDataPointsForChartConfig" parameterType="java.lang.Integer" resultType="ManualDataPoint">
        select id, name from chartConfigurationManualDataPointAssoc join manualDataPoints on chartConfigurationManualDataPointAssoc.manualDataPointId = manualDataPoints.id where chartConfigurationId=#{id}
    </select>

    <delete id="deleteAllChartConfigDataPointAssoc">
        delete from chartConfigurationDataPointAssoc
    </delete>

    <delete id="deleteAllChartConfigManualDataPointAssoc">
        delete from chartConfigurationManualDataPointAssoc
    </delete>

    <delete id="deleteAllChartConfiguraitons">
        delete from chartConfigurations
    </delete>


    <!-- Manual Data Points -->

    <select id="selectManualDataPointByName" parameterType="String" resultType="ManualDataPoint">
        select * from manualDataPoints where name=#{name}
    </select>

    <select id="selectManualDataPoints" resultType="ManualDataPoint">
        select * from manualDataPoints
    </select>

    <insert id="insertManualDataPoint" parameterType="ManualDataPoint">
        insert into manualDataPoints (name) values (#{name})
    </insert>

    <delete id="deleteManualDataPointByName" parameterType="java.lang.String">
        delete from manualDataPoints where name=#{namee}
    </delete>


    <delete id="deleteManualDataPointById" parameterType="java.lang.Integer">
        delete from manualDataPoints where id=#{id}
    </delete>
	
</mapper>
