<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.MangoMapper">

	<resultMap id="UserMap" type="User">
		<result property="id" column="id" />
		<result property="username" column="username" />
		<result property="email" column="email" />
		<result property="phone" column="phone" />
		<result property="password" column="password" />
		<result property="admin" column="admin" />
		<result property="disabled" column="disabled" />
		<result property="receiveAlarmEmails" column="receiveAlarmEmails" />
		<result property="receiveOwnAuditEvents" column="receiveOwnAuditEvents" />
	</resultMap>

	<resultMap id="SensorMap" type="Sensor">
		<result property="id" column="id"/>
		<result property="data" column="data"/>
	</resultMap>

    <resultMap id="PrivilegeLevelMap" type="UserPriv">
        <result property="userId" column="userId" />
        <result property="level" column="level" />
    </resultMap>

    <select id="selectLevel" parameterType="User" resultType="UserPriv">
        select * from userprivileges where userId=#{id}
    </select>

    <update id="updatePrivilege" parameterType="UserPriv">
        update userprivileges set level=#{level} where userId=#{id}
    </update>

	<select id="selectUsers" resultType="User">
		select * from users
	</select>

    <select id="selectUser" resultType="User">
        select * from users where username=#{username}
    </select>
	
	<delete id="deleteUser" parameterType="User">
		delete from users where id=#{id}
	</delete>
	
	<insert id="createUser" parameterType="User">
		insert into users (username,email, phone,password,admin,disabled,receiveAlarmEmails,receiveOwnAuditEvents)
		values (#{username},#{email},#{phone},#{password},#{admin},#{disabled},#{receiveAlarmEmails},#{receiveOwnAuditEvents})
	</insert>

    <resultMap id="ReportTemplateMap" type="ReportTemplate">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
    </resultMap>



    <insert id="createReportTemplate" parameterType="ReportTemplate">
        insert into reportTemplates (name, description)
        values (#{name}, #{description})
    </insert>

    <!--<resultMap id="reportTemplateDataPointAssoc" type="ReportTemplateDataPointAssoc">-->
        <!--<result property="reportTemplateId" column="reportTemplateId"/>-->
        <!--<result property="dataPointId" column="dataPointId"/>-->
    <!--</resultMap>-->

    <insert id="createReportTemplateDataPointAssoc" parameterType="ReportTemplateDataPointAssoc">
        insert into reportTemplateDataPointAssoc (reportTemplateId, dataPointId)
        values (#{reportTemplateId}, #{dataPointId})
    </insert>

    <insert id="createReportTemplateManualDataPointAssoc" parameterType="ReportTemplateManualDataPointAssoc">
        insert into reportTemplateManualDataPointAssoc (reportTemplateId, manualDataPointId)
        values (#{reportTemplateId}, #{manualDataPointId})
    </insert>





    <select id="getReportTemplateByName" parameterType="ReportTemplate" resultType="ReportTemplate">
        select * from reportTemplates where name=#{name}
    </select>





    <select id="getDataPointsForReportTemplate" parameterType="ReportTemplate" resultType="Sensor">
        select id, data from reporttemplatedatapointassoc join datapoints on datapoints.id=reporttemplatedatapointassoc.datapointid where reporttemplateid=#{id}
    </select>

    <select id="getManualDataPointsForReportTemplate" parameterType="ReportTemplate" resultType="ManualDataPoint">
      select id, name from reportTemplateManualDataPointAssoc join manualDataPoints on manualDataPoints.id=reportTemplateManualDataPointAssoc.manualDataPointId
    </select>





    <delete id="deleteAllreportTemplateManualDataPointAssoc">
        delete from reportTemplateManualDataPointAssoc
    </delete>
    <delete id="deleteAllReportTemplateDataPointAssoc">
        delete from reportTemplateDataPointAssoc
    </delete>
    <delete id="deleteAllReportTemplates">
        delete from reportTemplates
    </delete>

	

    <!--<resultMap id="manualDataPointMap" type="ManualDataPoint">-->
        <!--<result property="id" column="id"/>-->
        <!--<result property="name" column="name"/>-->
    <!--</resultMap>-->


    <!--<select id="selectManualDataPoints" resultType="ManualDataPoint">-->
        <!--select * from manualDataPoints-->
    <!--</select>-->



</mapper>